In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('Costomer+OrderForm.csv')

In [4]:
df.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [6]:
df.describe()

       Phillippines   Indonesia       Malta       India
count           300         300         300         300
unique            2           2           2           2
top      Error Free  Error Free  Error Free  Error Free
freq            271         267         269         280

In [19]:
df.Phillippines.value_counts() # find counts Phillippines, Indonesia, Malta, India

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [20]:
df.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [21]:
df.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [22]:
df.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [25]:
df1=df=np.array([[271,267,269,280],[29,33,31,20]])

In [26]:
df1

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

In [27]:
from scipy.stats import chi2_contingency

In [28]:
chi2_contingency(df1)

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))

# P value(0.27) is greter the Significance level(0.05). Hence null hypothesis cannot be rejected