In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv('LabTAT.csv')

In [4]:
df.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [5]:
df.describe()

       Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
count    120.000000    120.000000    120.000000     120.00000
mean     178.361583    178.902917    199.913250     163.68275
std       13.173594     14.957114     16.539033      15.08508
min      138.300000    140.550000    159.690000     124.06000
25%      170.335000    168.025000    188.232500     154.05000
50%      178.530000    178.870000    199.805000     164.42500
75%      186.535000    189.112500    211.332500     172.88250
max      216.390000    217.860000    238.700000     205.18000

In [7]:
df1=df['Laboratory 1'].mean()
df2=df['Laboratory 2'].mean()
df3=df['Laboratory 3'].mean()
df4=df['Laboratory 4'].mean()

In [8]:
df1

178.36158333333339

In [9]:
df2

178.9029166666668

In [10]:
df3

199.91325000000003

In [11]:
df4

163.6827499999999

In [14]:
L1=pd.DataFrame(df['Laboratory 1'])
L2=pd.DataFrame(df['Laboratory 2'])
L3=pd.DataFrame(df['Laboratory 3'])
L4=pd.DataFrame(df['Laboratory 4'])
print(L1,L2,L3,L4)

     Laboratory 1
0          185.35
1          170.49
2          192.77
3          177.33
4          193.41
..            ...
115        178.49
116        176.08
117        202.48
118        182.40
119        182.09

[120 rows x 1 columns]      Laboratory 2
0          165.53
1          185.91
2          194.92
3          183.00
4          169.57
..            ...
115        170.66
116        183.98
117        174.54
118        197.18
119        215.17

[120 rows x 1 columns]      Laboratory 3
0          176.70
1          198.45
2          201.23
3          199.61
4          204.63
..            ...
115        193.80
116        215.25
117        203.99
118        194.52
119        221.49

[120 rows x 1 columns]      Laboratory 4
0          166.13
1          160.79
2          185.18
3          176.42
4          152.60
..            ...
115        172.68
116        177.64
117        170.27
118        150.87
119        162.21

[120 rows x 1 columns]

In [17]:
import scipy as sp
from scipy import stats

In [19]:
p_value=stats.f_oneway(df.iloc[:,0],df.iloc[:,1],df.iloc[:,2],df.iloc[:,3])
p_value

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [21]:
p_value[1]

2.1156708949992414e-57

# P value (2.11*e^-57) is lesser the Significance level(0.05). Hence null hypothesis is rejected